  {{- with .Title | default .Site.Title }}
  <meta name="twitter:title" content="{{ . | truncate 70 }}" />
  {{- end }}
  {{- with .Description | default .Params.subtitle | default .Summary }}
  <meta name="twitter:description" content="{{ . | truncate 200 }}">
  {{- end }}
  {{- if .Params.image }}
  {{- $img := (resources.Get .Params.image).Fit "1200x628" -}}
  <meta name="twitter:image" content="{{ $img | absURL }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {{- else if .Site.Params.image }}
  {{- $img := (resources.Get .Site.Params.image) -}}
  <meta name="twitter:image" content="{{ $img | absURL }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {{- end }}
  {{- with .Site.Author.twitter }}
  <meta name="twitter:site" content="@{{ . }}" />
  <meta name="twitter:creator" content="@{{ . }}" />
  {{- end }}
