{{ define "main" }}

<main role="main">
  <article>
    {{ with .Params.header }}
    {{ partial "hero.html" (dict "hero" . "color" "blue" "svg" "email-up" ) }}
    {{- end }}
    {{ with .Params.form }}
    <section class="container mx-auto relative py-32">
        <div class="typeform-form -mx-6">
          <div class="px-6" data-tf-widget="IPiahZjU" data-tf-hide-headers style="width:100%;height:512px;"></div>
          <script src="//embed.typeform.com/next/embed.js"></script>
        </div>
      </div>
    </section>
    {{- end }}
  </article>
</main>

{{ end }}
