  <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}favicons/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicons/favicon-16x16.png">
  <link rel="mask-icon" href="{{ .Site.BaseURL }}favicons/safari-pinned-tab.svg" color="#353535">
  <meta name="msapplication-TileColor" content="#353535">
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
