<header id="header" role="banner" class="container max-w-7xl flex items-center justify-between">
  <a class="logo text-3xl" href="{{ .Site.Home.Permalink }}" title="{{ T "home" }}"><svg width="100%" height="84"><use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
  <div class="flex items-center">
    <button id="menu-toggle" type="button" class="bg-white h-10 w-10 flex md:hidden items-center justify-center text-gray-7 hover:text-gray-11 transition ease-out" aria-controls="menu-main" aria-expanded="false" aria-label="Menu">
      <svg class="absolute" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-labelledby="menu-open"
      >
        <title id="menu-open">{{ T "open_menu" }}</title>
        <rect x="4" y="7" width="24"  height="2" />
        <rect x="4" y="15" width="24" height="2" />
        <rect x="4" y="23" width="24" height="2" />
      </svg>
      <svg class="absolute opacity-0" width="32" height="32" viewBox="0 0 32 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke="currentColor" aria-labelledby="menu-close"
        >
        <title id="menu-close">{{ T "close_menu" }}</title>
        <line x1="8" y1="8" x2="24" y2="24" />
        <line x1="8" y1="24" x2="24" y2="8" />
      </svg>
    </button>
    {{ partial "nav" . }}
    {{ partial "languages" . }}
  </div>
</header>
